[project]
name = "sympy-playground"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "returns>=0.26.0",
    "sympy>=1.14.0",
]

[dependency-groups]
dev = [
    "pytest>=9.0.2",
]
